---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - {{ username }}-webtop-deployment.yaml
  - {{ username }}-webtop-ingress.yaml
  - {{ username }}-webtop-secrets.yaml
